<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Messages</title>
    <link rel="stylesheet" href="/public/style.css">
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f9f9f9;
        }

        header {
            background-color: #007bff;
            color: #fff;
            padding: 20px 0;
            text-align: center;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

        h1 {
            margin: 0;
            font-size: 24px;
        }

        nav ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
            text-align: right;
        }

        nav ul li {
            display: inline;
            margin-left: 20px;
        }

        nav ul li a {
            text-decoration: none;
            color: #fff;
            font-weight: bold;
            transition: color 0.3s;
        }

        nav ul li a:hover {
            color: #cce5ff;
        }

        main {
            padding: 20px;
            margin: 20px auto;
            max-width: 800px;
        }

        .messages {
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            padding: 20px;
        }

        .message {
            margin-bottom: 20px;
            border-bottom: 1px solid #ddd;
            padding-bottom: 20px;
        }

        .message p {
            margin: 0;
            font-size: 16px;
            color: #333;
        }

        .metadata {
            color: #777;
            font-size: 14px;
        }

        .metadata b {
            color: #333;
        }
    </style>
</head>

<body>
    <header>
        <h1>All Messages</h1>
        <nav>
            <ul>
                <li><a href="/dashboard">My Chat</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <div class="messages">
            {{#messages}}
            <div class="message">
                <p>{{this.content}}</p>
                <span class="metadata">Sent at <b>{{this.sendAt}}</b></span>
            </div>
            {{/messages}}
        </div>
    </main>

</body>

</html>